* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

#login-form-flex-container{
    display: flex;
    width: 100vw;
    justify-content: center;
}

#login-form {
    width: 500px;
    color: #0c3866;
    background: white;
    border-radius: 8px;
    padding: 32px;
}

#login-form h2 {
    margin: 8px 0;
}

#login-form form * {
    display: block;
    margin: 12px 0;
    font-size: 16px
}

#login-form input {
    width: 100%;
    padding: 8px;
}